name: CI

on:
  # Run this on pushes to main
  push:
    branches:
    - main

  # Or when PR operations are done
  pull_request:
    types:
    - opened
    - reopened
    - synchronize

jobs:
  linter:
    name: Run Helm Linter
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.3.0

      - name: Run linter
        run: helm lint --set dataKey=BLOB ./conjur-oss

  install-test-helm-v3:
    name: Install/test Conjur with Helm V3 on KinD Cluster
    needs: [ linter ]
    runs-on: ubuntu-latest
    strategy:
      matrix:
        kube-tag:
          - v1.21.2
          - v1.18.2
          - v1.16.9
          - v1.14.10
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v3.2.1

      - name: Create k8s KinD Cluster
        uses: helm/kind-action@v1.2.0
        with:
          node_image: "kindest/node:${{ matrix.kube-tag }}"
          cluster_name: kube-${{ matrix.kube-tag }}

      - name: Run integration tests
        run: ./test-minimal.sh

  install-test-helm-v2:
    name: Install/test Conjur with Helm V2 on KinD Cluster (v1.18.2)
    needs:
      - linter
      - install-test-helm-v3
    runs-on: ubuntu-latest
    steps:
      - name: Check out code
        uses: actions/checkout@v2

      - name: Install Helm
        uses: azure/setup-helm@v1
        with:
          version: v2.17.0

      - name: Create k8s KinD Cluster
        uses: helm/kind-action@v1.2.0
        with:
          node_image: "kindest/node:v1.18.2"
          cluster_name: kube-v1.18.2-helm2

      - name: Initialise Helm
        run: |
          # Service account with cluster-admin role for Helm
          echo "
          apiVersion: v1
          kind: ServiceAccount
          metadata:
            name: tiller
            namespace: kube-system
          ---
          apiVersion: rbac.authorization.k8s.io/v1
          kind: ClusterRoleBinding
          metadata:
            name: tiller
          roleRef:
            apiGroup: rbac.authorization.k8s.io
            kind: ClusterRole
            name: cluster-admin
          subjects:
            - kind: ServiceAccount
              name: tiller
              namespace: kube-system
          " | kubectl create -f -

          # Initialise
          helm init --stable-repo-url https://charts.helm.sh/stable --service-account tiller --wait

      - name: Run integration tests
        run: ./test-minimal.sh
